<div id="dailyFeed">
  <div class="card">
    <div class="card-header bg-dark" id="Shifts">
      <h3 class="mb-0">
        <button class="btn btn-outline-primary" data-toggle="collapse" data-target="#shiftDetails" aria-expanded="true"
          aria-controls="shiftDetails">
          Select Shifts
        </button>
        <button type="button" class="btn btn-outline-danger float-right" @click="shiftClearAll">
          <i class="fa fa-times-circle success" aria-hidden="true"></i>
          Clear All
        </button>
      </h3>
    </div>

    <div id="shiftDetails" class="collapse show" aria-labelledby="Shifts" data-parent="#dailyFeed">
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <button class="btn btn-default bg-danger" :class="disable.morningShift" @click="morningShift">
              <img src="img/sunrise.png" width="100" /> Morning Shift
            </button>
          </div>
          <div class="col-4">
            <button class="btn btn-default bg-warning" :class="disable.noonShift" @click="noonShift">
              <img src="img/sunnoon.jpeg" width="100" /> AfterNoon Shift
            </button>
          </div>
          <div class="col-4">
            <button class="btn btn-default bg-secondary" :class="disable.nightShift" @click="nightShift">
              <img src="img/night.jpg" width="100" /> Night Shift
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-dark" id="Zones">
      <h3 class="mb-0">
        <button class="btn btn-outline-primary collapsed" data-toggle="collapse" data-target="#zoneDetails"
          aria-expanded="false" aria-controls="zoneDetails">
          Select Zones
        </button>
        <button type="button" class="btn btn-outline-danger float-right" @click="zoneClearAll">
          <i class="fa fa-times-circle success" aria-hidden="true"></i>
          Clear All
        </button>
      </h3>
    </div>
    <div id="zoneDetails" class="collapse" aria-labelledby="Zones" data-parent="#dailyFeed">
      <div class="card-body">
        <div class="row">
          <template v-if="zoneLength">
            <div class="col-6" v-for="zone in apiData.Zones">
              <button class="btn btn-default btn-lg btn-outline-success btn-block" :class="zone.classes"
                @click="zoneClick(zone)">
                {%% zone.name %%}
              </button>
            </div>
          </template>
          <template v-else>
            <div class="col-4" v-for="zone in apiData.Zones">
              <button class="btn btn-default btn-lg btn-outline-success btn-block" :class="zone.classes"
                @click="zoneClick(zone)">
                {%% zone.name %%}
              </button>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-dark" id="Cars">
      <h3 class="mb-0">
        <button class="btn btn-outline-primary collapsed" data-toggle="collapse" data-target="#carsDetails"
          aria-expanded="false" aria-controls="carsDetails">
          Select Cars
        </button>
        <button type="button" class="btn btn-outline-danger float-right" @click="carClearAll">
          <i class="fa fa-times-circle success" aria-hidden="true"></i>
          Clear All
        </button>
      </h3>
    </div>
    <div id="carsDetails" class="collapse" aria-labelledby="Cars" data-parent="#dailyFeed">
      <div class="card-body">
        <div class="row">
          <template v-if="carLength">
            <div class="col-6" v-for="car in apiData.Cars">
              <button class="btn btn-default btn-lg btn-outline-primary btn-block" :class="car.classes"
                @click="carClick(car)">
                {%% car.name %%}
              </button>
            </div>
          </template>
          <template v-else>
            <div class="col-4" v-for="car in apiData.Cars">
              <button class="btn btn-default btn-lg btn-outline-primary btn-block" :class="car.classes"
                @click="carClick(car)">
                {%% car.name %%}
              </button>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-dark" id="Defects">
      <h3 class="mb-0">
        <button class="btn btn-outline-primary collapsed" data-toggle="collapse" data-target="#defectsDetails"
          aria-expanded="false" aria-controls="defectsDetails">
          Feed Defects
        </button>
      </h3>
    </div>
    <div id="defectsDetails" class="collapse" aria-labelledby="Defects" data-parent="#dailyFeed">
      <div class="card-body">
        <div class="row">
          <div class="col-4" v-for="defect in apiData.Defects">
            <div class="form-group shiny-input-container">
              <label class="control-label" for="defect"> {%% defect.name %%} </label>
              <input id="defect.name" type="number" class="form-control" value="defect.inputValue"
                v-model="defect.inputValue" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>